.container-body{
    width: 100%;
    height: auto;
    background-color: #f2f5f7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
/*#f2f5f7*/