.container-header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-header h2{
    color: black;
    font-size: 25px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif ;
    padding-top: 3%;
    padding-bottom: 3%;
}

.container-header h1{
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif ;
    padding-top: 5%;
}
.container-header p{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 4%;
    font-size: 23px;
}
.container-header span{
  font-weight: bold;
}
.deco{
   text-decoration: underline;
   text-decoration-color: #fc9300;;
   font-weight: bold;
  }